/*Preloader*/
body {
  background-color: black; 
}

#loading{
  position:fixed;
  width:100%;
  height:100vh; /*vertical height*/
  background: black;
 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#preloader{
  position:fixed;
  width:100%;
  height:100vh; /*vertical height*/
  background: black url('./preloader.png')
  no-repeat center;
  z-index:999999;
  animation: spin 2s linear infinite; 
  background-size: 12%; 
}






